@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(15 23 42/1)
}

@layer components {
    .typing {
        display: block;
        white-space: nowrap;
        border-right: 4px solid white;
        width: 22ch;
        animation: typing 3s steps(22), infinite step-end alternate;
        animation-iteration-count: infinite;
        overflow: hidden;
    }

    .name-typing {
        display: block;
        white-space: nowrap;
        border-right: 4px solid white;
        width: 6ch;
        animation: typing 1.8s steps(6), infinite step-end alternate;
        animation-iteration-count: infinite;
        overflow: hidden;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }


}