@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(15 23 42/1)
}

@layer components {
    .typing {
        display: block;
        font-family: monospace;
        white-space: nowrap;
        border-right: 4px solid;
        width: 24ch;
        animation: typing 3s steps(24), blink 0.5s infinite step-end alternate;
        animation-iteration-count: infinite;
        overflow: hidden;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
}